<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database</servlet-name>
        <servlet-class>database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>semester_registered</servlet-name>
        <servlet-class>semester_registered</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>semester_registered</servlet-name>
        <url-pattern>/semester_registered</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
